<h1>Editing entry</h1>

<%= form_for(@entry, :html => { :multipart => true }) do |f| %>

  <div class="field">
    <%= f.label :RegistrationType %><br />
    <%= f.text_field :RegistrationType %>
  </div>

  <div class="field">
    <%= f.label :RegistrationNumber %><br />
    <%= f.text_field :RegistrationNumber %>
  </div>
  <div class="field">
    <%= f.label :Year %><br />
    <%= f.text_field :Year %>
  </div>
  <div class="field">
    <%= f.label :Make %><br />
    <%= f.text_field :Make %>
  </div>
  <div class="field">
    <%= f.label :Model %><br />
    <%= f.text_field :Model %>
  </div>
  <div class="field">
    <%= f.label :Notes %><br />
    <%= f.text_area :Notes %>
  </div>
  <br/>

  <h3>Change Photo</h3>
  <div class="field">
    <%= f.label 'Photo' %><br />
    <%= f.file_field :photo %>
  </div>
  <br/>
  
  <div class="field">
    <%= f.label :Customer %>
    <%= collection_select :entry, :customer_id, Customer.all, :id, :full_name %>
  </div>

  <div class="field">
    <%= f.label :Contest %>
    <%= collection_select :entry, :contest_id, Contest.all, :id, :ContestName %>
  </div>

  <div class="field">
    <%= f.label :Club %>
    <%= collection_select :entry, :club_id, Club.all, :id, :ClubName %>
  </div>
  <br/>

<h3>Specialities nominations:</h3>
<table>
  <tr>
    <td><b>Speciality Name:</b></td>
  </tr>
<% @entry.specialities.each do |s| %>
  <tr>
    <td><%= s.Type %></td>
  </tr>
<% end %>
</table>
<br/>

<h3>Assign Entry to Speciality</h3>
  <div class="field">
    <%= f.label "Speciality" %><br />
    <%= f.select :speciality_ids, Speciality.all.collect {|x| [x.Type, x.id]}, {},:selected => @entry.specialities.map {|x| x.id}, :multiple => true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
<br/>

<h3>Add a Result:</h3>
<%= render "results/form" %>

<br/>


<%= link_to 'Show', @entry %> |
<%= link_to 'Back', entries_path %>
<br/>
