<h1>Listing entries</h1>

<table>
  <tr>
    <th>RegistrationType</th>
    <th>RegistrationNumber</th>
    <th>Year</th>
    <th>Make</th>
    <th>Model</th>
    <th>Score</th>
    <th>Club</th>
    <th>Customer</th>
    <th>Contest</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @entries.each do |entry| %>
  <tr>
    <td><%= truncate(entry.RegistrationType, :lenght => 15) %></td>
    <td><%= entry.RegistrationNumber %></td>
    <td><%= entry.Year %></td>
    <td><%= truncate(entry.Make, :lenght => 15) %></td>
    <td><%= truncate(entry.Model, :lenght => 15) %></td>
    <td><%= entry.Score %></td>
    <%if not entry.club.nil?%>
        <td><%= truncate(entry.club.ClubName, :lenght => 15)%>
    <%else%>
        <td>Unassigned</td>
    <%end%>
    <%if not entry.customer.nil?%>
        <%if not entry.customer.contact_info.nil?%>
            <td><%= truncate(entry.customer.contact_info.FirstName + ' ' + entry.customer.contact_info.LastName, :lenght => 15)%>
        <%else%>
            <td><%= entry.customer.id %>
        <%end%>
    <%else%>
        <td>Unassigned</td>
    <%end%>
    <%if not entry.contest.nil?%>
        <td><%= truncate(entry.contest.ContestName, :lenght => 15)%>
    <%else%>
        <td>Unassigned</td>
    <%end%>
    <td><%= link_to 'Show', entry %></td>
    <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
    <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<br />

<%= paginate @entries %>
<br/>

<%= link_to 'New Entry', new_entry_path %>
