<%= form_for([@category, @category.contests.build]) do |f| %>

  <div class="field">
    <%= f.label :ContestName %><br />
    <%= f.text_field :ContestName %>
  </div>
  
  <div class="field">
    <%= f.label :Event %>
    <%= collection_select :contest, :event_id, Event.all, :id, :EventName %>
  </div>

  <div class="field">
    <%= f.label :JudgeSheet %>
    <%= collection_select :contest, :judge_sheet_id, JudgeSheet.all, :id, :Name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
