<h1>Listing contests</h1>

<table>
  <tr>
    <th>Contestname</th>
    <th>Judge sheet</th>
    <th>Event</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contests.each do |contest| %>
  <tr>
    <td><%= truncate(contest.ContestName, :lenght => 15) %></td>

    <%if not contest.judge_sheet.nil?%>
        <td><%= truncate(contest.judge_sheet.Name, :lenght => 15) %></td>
    <%else%>
        <td>Unassigned</td>
    <%end%>

    <%if not contest.event.nil? %>
        <td><%= truncate(contest.event.EventName, :lenght => 15) %></td>
    <%else%>
        <td>Unassigned</td>
    <%end%>
    <%if not contest.category.nil? %>
        <td><%= truncate(contest.category.name, :lenght => 15) %></td>
    <%else%>
        <td>Unassigned</td>
    <%end%>
    <td><%= link_to 'Show', contest %></td>
    <td><%= link_to 'Edit', edit_contest_path(contest) %></td>
    <td><%= link_to 'Destroy', contest, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<br />

<%= paginate @contests %>
<br/>

<%= link_to 'New Contest', new_contest_path %>
