<h1>New speciality</h1>

<%= form_for(@speciality) do |f| %>

  <div class="field">
    <%= f.label :Type %><br />
    <%= f.text_field :Type %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Back', specialities_path %>
