<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
<script>
			$(document).ready(function(){
				$('#newspaper-b').dataTable({
					"paging": false,
					"searching": false,
					"info":     false
				});
			});
			
		</script>
</head>
<h1>Listing users</h1>

<table id="newspaper-b">
 <thead>
  <tr>
    <th>Name</th>
    <th>Created</th>
    <th>Contact info</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 </thead>
 <tbody>
<% @users.each do |user| %>
  <tr>
    <td><%= truncate(user.Name, :lenght => 15) %></td>
    <td><%= user.Created %></td>
    <%if not user.contact_info.nil?%>
      <td><%= truncate(user.contact_info.FirstName + " " +user.contact_info.LastName, :lenght => 15) %></td>
    <%else%>
      <td>Unassigned<td/>
    <%end%>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
 </tbody>
</table>
<br />

<%= paginate @users %>
<br/>

<%= link_to 'New User', new_user_path %>
