<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
<script>
			$(document).ready(function(){
				$('#newspaper-b').dataTable({
					"paging": false,
					"searching": false,
					"info":     false
				});
			});
			
		</script>
</head>
<h1>Listing events</h1>

<table id="newspaper-b">
 <thead>
  <tr>
    <th>Eventname</th>
    <th>Location</th>
    <th>Completed</th>
    <th>Serie</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 </thead>

 <tbody>
<% @events.each do |event| %>
  <tr>
    <td><%= truncate(event.EventName, :lenght => 15) %></td>
    <td><%= truncate(event.Location, :lenght => 15) %></td>
    <td><%= event.Completed %></td>
    <%if not event.serie.nil?%>
        <td><%= truncate(event.serie.SeriesName, :lenght => 15) %></td>
    <%else%>
        <td>Unassigned</td>
    <%end%>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
 </tbody>
</table>
<br />

<%= paginate @events %>
<br/>

<%= link_to 'New Event', new_event_path %>
