<h1>New event</h1>

<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
    <%= f.label "Event name" %><br />
    <%= f.text_field :EventName %>
  </div>
  <div class="field">
    <%= f.label :Location %><br />
    <%= f.text_field :Location %>
  </div>
    <div class="field">
    <%= f.label "Event date"%><br />
    <%= datetime_select(:event, :EventDate) %>
  </div>
  <div class="field">
    <%= f.label :Completed %><br />
    <%= f.check_box :Completed %>
  </div>
  
  <div class="field">
    <%= f.label :serie %>
    <%= collection_select :event, :serie_id, Serie.all, :id, :SeriesName %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', events_path %>
