<p>
  <b>ContactInfo:</b>
  <%if not @customer.contact_info.nil?%>
    <%= link_to @customer.contact_info.FirstName + " " +@customer.contact_info.LastName, @customer.contact_info %>
  <%else%>
    Unassigned
  <%end%>
</p>

<p>
  <b>Club:</b>
  <%if not @customer.club.nil?%>
    <%= link_to @customer.club.ClubName, @customer.club %>
  <%else%>
    Unassigned
  <%end%>
</p>
<br/>

<p>
  <b>Company:</b>
  <%if not @customer.company.nil?%>
    <%= link_to @customer.company.Name, @customer.company %>
  <%else%>
    Unassigned
  <%end%>
</p>
<br/>

<h3>Entries:</h3>
<table>
  <tr>
    <td><b>Registration Number:</b></td>
    <td><b>Entry Type:</b></td>
    <td><b>Make:</b></td>
    <td><b>Model:</b></td>
    <td><b>Year:</b></td>
    <td><b>Entry Link:</b></td>
  </tr>
<% @customer.entries.each do |entry| %>
  <tr>
    <td><%= entry.RegistrationNumber%></td>
    <td><%= entry.RegistrationType%></td>
    <td><%= entry.Make%></td>
    <td><%= entry.Model%></td>
    <td><%= entry.Year%></td>
    <td><%= link_to "Entry Details", entry%>
  </tr>
<% end %>
</table>
<br/>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
<br/>