<div>
	<% if flash[:notice] %>
	  <p class="notice"><%= flash[:notice] %></p>
	<% end %>
	<% if flash[:error] %>
	  <p class="error"><%= flash[:error] %></p>
	<% end %>
	<h1>Admin panel:</h1>
	<br/>
	<dl>
		<dt><h2>Series/Events Management</h2></dt>
			<dd><%= link_to "Series management", series_path %></dd>
			<dd><%= link_to "Events management", events_path %></dd>
		<dt><h2>User Management</h2></dt>
			<dd><%= link_to "Contact Info management", contact_infos_path %></dd>
			<dd><%= link_to "Users management", users_path %></dd>
			<dd><%= link_to "Categories management", categories_path %></dd>
			<dd><%= link_to "Clubs management", clubs_path %></dd>
			<dd><%= link_to "Customers management", customers_path %></dd>		
			<dd><%= link_to "Contests management", contests_path %></dd>
			<dd><%= link_to "Question Categories management", question_categories_path %></dd>
			<dd><%= link_to "Questions management", questions_path %></dd>		
		<dt><h2>Judge Management</h2></dt>
			<dd><%= link_to "Judge Sheets management", judge_sheets_path %></dd>
			<dd><%= link_to "Role management", roles_path %></dd>		
		<dt><h2>Cars Management</h2></dt>
			<dd><%= link_to "Specialities management", specialities_path %></dd>
			<dd><%= link_to "Photos management", photos_path %></dd>
			<dd><%= link_to "Cars management", entries_path %></dd>
			<dd><%= link_to "Results management", results_path %></dd>
	</dl>
</div>