<h1>Editing category</h1>

<%= render 'form' %>
<br/>

<h3>Contests:</h3>
<table>
  <tr>
    <td><b>Contest Name:</b></td>
  </tr>
<% @category.contests.each do |contest| %>
  <tr>
    <td><%= truncate(contest.ContestName, :lenght => 15) %></td>
  </tr>
<% end %>
</table>
<br/>

<h3>Add a contest:</h3>
<%= render "contests/categoryform" %>
<br/>

<%= link_to 'Show', @category %> |
<%= link_to 'Back', categories_path %>
