<%= form_for(@question_category) do |f| %>

  <div class="field">
    <%= f.label :Name %><br />
    <%= f.text_field :Name %>
  </div>

  <div class="field">
    <%= f.label "Position Number" %><br />
    <%= f.number_field :position_number %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
