<h1>Editing question_category</h1>

<%= render 'form' %>
<br/>

<h3>Questions:</h3>
<table style="border-bottom-style: solid;border-top-style: solid;">
	<tr>
		<td><b>Question Text:</b></td>
    	<td><b>Minval:</b></td>
    	<td><b>Maxval:</b></td>
    	<td><b>Questiondescrip:</b></td>
	</tr>
<% @question_category.questions.each do |question| %>
	<tr>
		<td><%= truncate(question.QuestionText, :lenght => 15)%></td>
		<td><%= question.MinVal%></td>
		<td><%= question.MaxVal%></td>
		<td><%= truncate(question.QuestionDescrip, :lenght => 15)%></td>
	</tr>
<% end %>
</table>
<br/>

<h3>Add a Question:</h3>
<%= render 'questions/form' %>
<br/>

<%= link_to 'Show', @question_category %> |
<%= link_to 'Back', question_categories_path %>
